body{
    background-color: black;
    font-family: 'Anton', sans-serif;
}
#main-container{
    width: 100%;
    background-color: rgb(95, 95, 109);
    color: white;
    display: inline-flex;
    min-height: 98vh;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}
#add-button{
    margin: 10% 10px 20px;
    font-size: 3rem;
}
.to-do-one{
    color: rgb(168, 211, 184);
    margin: 20px;
    font-size: 2rem;
}
.to-do-two{
    color: rgb(241, 118, 114);
    text-decoration: line-through;
    margin: 20px;
    font-size: 2rem;
}
#text-input{
    margin: 10% 10px 20px;

}
#header{
    color:rgb(176, 238, 238);
    font-size: 3rem;
}